@import "compass/css3/border-radius";

//Code mixins.
@mixin code-font {
	font-family: "menloregular", "Monaco", "Consolas", Monospace;
}

//Font mixins.
@mixin bariol($size, $lh) {
	font-size: $size;
	line-height: $lh;
	font-family: "bariol-regular", Sans-Serif;
	color: #000;
}

@mixin neue($size, $lh) {
	font-size: $size;
	line-height: $lh;
	font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
	font-weight: 700;
	color: #000;
}

@mixin neue-light($size, $lh) {
	font-size: $size;
	line-height: $lh;
	font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
	font-weight: 400;
	color: #000;
}

//Image and icon mixins.
@mixin roundedimg {
	@include border-radius(60px, 60px);
}

@mixin roundedimg-large {
	@include border-radius(200px, 200px);
}

@mixin sprite {
	background: url('../img/sprites-retina.png') no-repeat center center;
}

@media only screen
	and (-webkit-min-device-pixel-ratio: 2)
	and (min-resolution: 192dpi)
	{
		@mixin sprite {
			background: url('../img/sprites-retina.png') no-repeat center center;
		}
	}

@mixin sprite-large {
	width: 65px;
	height: 65px;
}
@mixin sprite-med {
	width: 45px;
	height: 45px;
}
@mixin sprite-small {
	width: 38px;
	height: 38px;
}
@mixin sprite-micro {
	width: 22px;
	height: 22px;
}