/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/transition";
@import "fonts";
@import "variables";
@import "mixins";

//Global styles.
body, html {
	@include bariol(100%, 1.6em);
	width: 100%;
	height: 100%;
}

::selection {
	background-color: $light-blue;
}

.clearfix {
	clear: both;
}

.hidden {
	display: none;
}

//Base typography styles.
p {
	@include bariol(100%, 1.6em);
	&.header-desc {
		@include bariol(85%, 1.6em);
		color: #6a6a6a;
	}
	&.post-meta {
		@include bariol(100%, 1.6em);
		color: $metagrey;
		margin: 0 0 22px 0 !important;
		a {
			color: $metagrey;
			font-weight: 700;
		}
	}
	code {
		font-family: Monospace;
		font-size: 100%;
		padding: 5px;
		background-color: #e5e5e5;
		border: 1px solid #ccc;
		@include border-radius(5px);
	}
	em {
		font-family: "bariol-regularitalic";
	}
	strong {
		font-family: "bariol-bold";
	}
}

blockquote {
	margin-left: 40px;
	border-left: 5px solid #ccc;
	padding: 0 0 0 15px;
	@include neue-light(110%, 1.6em);
	width: 80%;
	p {
		@include neue-light(110%, 1.6em);
	}
}

a {
	@include bariol(100%, 1.6em);
	color: $accent;
	outline: none;
	text-decoration: none;
	@include transition(color 0.2s ease-in);
	&:hover {
		color: $pink;
	}
}

h1 {
	padding: 2px 0;
	&.header-title {
		@include neue(325%, 1em);
		padding: 0;
	}
	a {
		@include neue(200%, 1em);
	}
}

h2 {
	@include neue(175%, 1em);
	margin: 20px 0;
}

h3 {
	@include neue(150%, 1em);
	margin: 10px 0;
}

h4 {
	@include neue(125%, 1em);
	margin: 10px 0;
}

ul {
	margin-left: 30px;
	li {
		list-style-type: disc;
	}
}

//Code styles
pre {
	margin: 20px 0;
}

code {
	@include code-font;
	font-size: 100%;
	overflow: auto;
}

//Page header styles.
header {
	width: 1020px;
	margin: 0 auto;
}

.header-main {
	padding: 20px 0;
}

.head-line {
	position: absolute;
	width: 100%;
	left: 0;
	border: 3px solid $accent;
}

.header-social {
	float: right;
	padding: 14px 0;
}

//Nav styles
nav {
	ul {
		margin: 15px 0;
		li {
			float: left;
			list-style-type: none;
			margin: 0 25px 0 0;
			a {
				color: black;
				@include neue(125%, 1.6em);
				font-weight: 700;
			}
		}
	}
}

//Category, social and avatar icon styles.
img, div {
	&.round {
		@include roundedimg;
		&.side {
			@include sprite-large;
			position: absolute;
			margin: 10px 0 10px -126px;
			&.av {
				height: auto;
				width: auto;
			}
			&.cat {
				margin: -10px 0 10px -110px;
			}
		}
		&.floated {
			@include sprite-med;
			float:left;
			&.cat {
				margin-right: 20px;
				margin-top: 4px;
			}
		}
		&.head {
			@include sprite-med;
			float: right;
			margin: 0 15px;
		}
		&.page {
			@include sprite-large;
			margin: 0 15px;
			float: right;
		}
		&.archive {
			@include sprite-micro;
			margin-right: 10px;
			float: left;
		}
		&.foot {
			@include sprite-small;
			float: left;
			margin: 0 22px;
		}
	}
}

//Main blog styles
.container {
	width: 1020px;
	margin: 35px auto;
}

article {
	margin-bottom: 40px;
	p {
		margin: 1em 0;
	}
}

.about-me {
	img {
		@include roundedimg-large;
	}
	text-align: center;
	h1 {
		@include neue(220%, 1em);
		margin: 10px 0 30px;
	}
}

//Social overrides
.post-share {
	margin: 20px 0;
} 

.twitter-share-button {
	width: 85px !important;
}

.post-share iframe:first {
	width: 85px !important;	
}

.pagination {
	width: 190px;
	text-align: center;
	margin: 0 auto;
}

.archive-item {
	margin: 10px 0;
}

//Footer styles
footer {
	height: auto;
	margin: 60px auto;
	width: 1020px;
	p {
		font-size: 75%;
		color: $metagrey;
	}
	a {
		font-family: "bariol-bold"
	}
}

.footer-center {
	width: 65%;
	margin: 0 auto;
	text-align: center;
}

.footer-social {
	width: 410px;
	margin: 14px auto;
}

.footer-after {
	height: 20px;
	display: none;
	width: 1020px;
}

@import "media-queries";