//Define global colour variables.
$accent:     #E52066;
$orange:     #EA9723;
$purple:     #C42624;
$light-blue: #1FC6E4;
$yellow:     #FFE000;
$green:      #30F2BF;
$red:        #E06934;
$pink:       #F086B6;
$metagrey:   #6a6a6a;