@font-face {
  font-family: 'bariol-regular';
  src: url("../fonts/bariol_regular-webfont.eot#") format("eot"), url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol_regular-webfont.svg#bariol-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-regularitalic';
  src: url("../fonts/bariol_regular_italic-webfont.eot#") format("eot"), url("../fonts/bariol_regular_italic-webfont.woff") format("woff"), url("../fonts/bariol_regular_italic-webfont.ttf") format("truetype"), url("../fonts/bariol_regular_italic-webfont.svg#bariol-regularitalic") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-regularitalic';
  src: url("../fonts/bariol_regular-webfont.eot#") format("eot"), url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol_regular-webfont.svg#bariol-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-thin';
  src: url("../fonts/bariol_thin-webfont.eot#") format("eot"), url("../fonts/bariol_thin-webfont.woff") format("woff"), url("../fonts/bariol_thin-webfont.ttf") format("truetype"), url("../fonts/bariol_thin-webfont.svg#bariol-thin") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-light';
  src: url("../fonts/bariol_light-webfont.eot#") format("eot"), url("../fonts/bariol_light-webfont.woff") format("woff"), url("../fonts/bariol_light-webfont.ttf") format("truetype"), url("../fonts/bariol_light-webfont.svg#bariol-light") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-bold';
  src: url("../fonts/bariol_bold-webfont.eot#") format("eot"), url("../fonts/bariol_bold-webfont.woff") format("woff"), url("../fonts/bariol_bold-webfont.ttf") format("truetype"), url("../fonts/bariol_bold-webfont.svg#bariol-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
