/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 11, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 12, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 17, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 21, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 25, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 28, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 32, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 36, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 40, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 43, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 47, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 14px auto;
  }
  /* line 51, ../sass/media-queries.scss */
  .footer-social a div.round.foot {
    margin: 0 40px !important;
  }

  /* line 56, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 70, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 71, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 76, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 80, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 84, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 87, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 91, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 95, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 99, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 102, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 106, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 14px auto;
  }
  /* line 110, ../sass/media-queries.scss */
  .footer-social a div.round.foot {
    margin: 0 60px !important;
  }

  /* line 115, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
/* iPhones (portrait) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 127, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 128, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 133, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 138, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 143, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 148, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 152, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 155, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 159, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 162, ../sass/media-queries.scss */
  .head-line {
    width: 90%;
    left: 10px;
  }

  /* line 166, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 170, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 172, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 176, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 184, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 187, ../sass/media-queries.scss */
  p {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 189, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 192, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 40%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 197, ../sass/media-queries.scss */
  .archive-item, .repo-result span {
    font-size: 80%;
  }

  /* line 200, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 80%;
    overflow: auto;
  }

  /* line 205, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 208, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 212, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 216, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 220, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 224, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 229, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 235, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 237, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 6px;
  }
}
/* iPhones (landscape) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 251, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 252, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 257, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 262, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 267, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 272, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 276, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 279, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 283, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 286, ../sass/media-queries.scss */
  .head-line {
    width: 94%;
    left: 10px;
  }

  /* line 290, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 294, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 296, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 300, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 308, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 311, ../sass/media-queries.scss */
  p {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 313, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 316, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 321, ../sass/media-queries.scss */
  .archive-item {
    font-size: 60%;
    line-height: 1em;
  }

  /* line 325, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 60%;
    overflow: auto;
  }

  /* line 330, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 333, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 337, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 341, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 345, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 349, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 354, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 360, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 362, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 26px;
  }
}
