/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 11, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 12, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 17, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 21, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 25, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 28, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 32, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 36, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 40, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 43, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 47, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 14px auto;
  }
  /* line 51, ../sass/media-queries.scss */
  .footer-social a div.round.foot {
    margin: 0 40px !important;
  }

  /* line 56, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 61, ../sass/media-queries.scss */
  iframe {
    width: 100%;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 73, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 74, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 79, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 83, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 87, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 90, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 94, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 98, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 102, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 105, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 109, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 14px auto;
  }
  /* line 113, ../sass/media-queries.scss */
  .footer-social a div.round.foot {
    margin: 0 60px !important;
  }

  /* line 118, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 123, ../sass/media-queries.scss */
  iframe {
    width: 100%;
  }
}
/* iPhones (portrait) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 133, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 134, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 139, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 144, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 149, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 154, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 158, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 161, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 165, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 168, ../sass/media-queries.scss */
  .head-line {
    width: 90%;
    left: 10px;
  }

  /* line 172, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 176, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 178, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 182, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 190, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 193, ../sass/media-queries.scss */
  p {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 195, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 198, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 40%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 203, ../sass/media-queries.scss */
  .archive-item, .repo-result span {
    font-size: 80%;
  }

  /* line 206, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 80%;
    overflow: auto;
  }

  /* line 211, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 214, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 218, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 222, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 226, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 230, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 235, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 241, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 243, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 6px;
  }

  /* line 250, ../sass/media-queries.scss */
  iframe {
    width: 100%;
  }
}
/* iPhones (landscape) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 260, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 261, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 266, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 271, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 276, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 281, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 285, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 288, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 292, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 295, ../sass/media-queries.scss */
  .head-line {
    width: 94%;
    left: 10px;
  }

  /* line 299, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 303, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 305, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 309, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 317, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 320, ../sass/media-queries.scss */
  p {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 322, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 325, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 330, ../sass/media-queries.scss */
  .archive-item {
    font-size: 60%;
    line-height: 1em;
  }

  /* line 334, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 60%;
    overflow: auto;
  }

  /* line 339, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 342, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 346, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 350, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 354, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 358, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 363, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 369, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 371, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 26px;
  }

  /* line 378, ../sass/media-queries.scss */
  iframe {
    width: 100%;
  }
}
