/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 11, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 12, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 17, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 21, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 25, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 28, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 32, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 36, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 40, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 43, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 47, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 14px auto;
  }
  /* line 51, ../sass/media-queries.scss */
  .footer-social a div.round.foot {
    margin: 0 40px !important;
  }

  /* line 56, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 71, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 72, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 77, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 81, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 85, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 88, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 92, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 96, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 100, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 103, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 107, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 14px auto;
  }
  /* line 111, ../sass/media-queries.scss */
  .footer-social a div.round.foot {
    margin: 0 60px !important;
  }

  /* line 116, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
/* iPhones (portrait) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 129, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 130, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 135, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 140, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 145, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 150, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 154, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 157, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 161, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 164, ../sass/media-queries.scss */
  .head-line {
    width: 98%;
    left: 10px;
  }

  /* line 168, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 172, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 174, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 178, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 186, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 189, ../sass/media-queries.scss */
  p {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 191, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 194, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 40%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 199, ../sass/media-queries.scss */
  .archive-item, .repo-result span {
    font-size: 80%;
  }

  /* line 202, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 80%;
    overflow: auto;
  }

  /* line 207, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 210, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 214, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 218, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 222, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 226, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 231, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 237, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 239, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 6px;
  }
}
/* iPhones (landscape) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 254, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 255, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 260, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 265, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 270, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 275, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 279, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 282, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 286, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 289, ../sass/media-queries.scss */
  .head-line {
    width: 98%;
    left: 10px;
  }

  /* line 293, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 297, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 299, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 303, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 311, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 314, ../sass/media-queries.scss */
  p {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 316, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 319, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 324, ../sass/media-queries.scss */
  .archive-item {
    font-size: 60%;
    line-height: 1em;
  }

  /* line 328, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 60%;
    overflow: auto;
  }

  /* line 333, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 336, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 340, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 344, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 348, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 352, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 357, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 363, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 365, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 26px;
  }
}
