/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'bariol-regular';
  src: url("../fonts/bariol_regular-webfont.eot#") format("eot"), url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol_regular-webfont.svg#bariol-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-regularitalic';
  src: url("../fonts/bariol_regular_italic-webfont.eot#") format("eot"), url("../fonts/bariol_regular_italic-webfont.woff") format("woff"), url("../fonts/bariol_regular_italic-webfont.ttf") format("truetype"), url("../fonts/bariol_regular_italic-webfont.svg#bariol-regularitalic") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-regularitalic';
  src: url("../fonts/bariol_regular-webfont.eot#") format("eot"), url("../fonts/bariol_regular-webfont.woff") format("woff"), url("../fonts/bariol_regular-webfont.ttf") format("truetype"), url("../fonts/bariol_regular-webfont.svg#bariol-regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-thin';
  src: url("../fonts/bariol_thin-webfont.eot#") format("eot"), url("../fonts/bariol_thin-webfont.woff") format("woff"), url("../fonts/bariol_thin-webfont.ttf") format("truetype"), url("../fonts/bariol_thin-webfont.svg#bariol-thin") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-light';
  src: url("../fonts/bariol_light-webfont.eot#") format("eot"), url("../fonts/bariol_light-webfont.woff") format("woff"), url("../fonts/bariol_light-webfont.ttf") format("truetype"), url("../fonts/bariol_light-webfont.svg#bariol-light") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-bold';
  src: url("../fonts/bariol_bold-webfont.eot#") format("eot"), url("../fonts/bariol_bold-webfont.woff") format("woff"), url("../fonts/bariol_bold-webfont.ttf") format("truetype"), url("../fonts/bariol_bold-webfont.svg#bariol-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'mbsprite';
  src: url("../fonts/mbsprite.eot");
  src: url("../fonts/mbsprite.eot?#iefix") format("embedded-opentype"), url("../fonts/mbsprite.svg#mbsprite") format("svg"), url("../fonts/mbsprite.woff") format("woff"), url("../fonts/mbsprite.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 73, ../sass/fonts.scss */
[data-icon]:before {
  font-family: 'mbsprite';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 82, ../sass/fonts.scss */
.icon-twitter:before, .icon-tutorial:before, .icon-stack:before, .icon-share:before, .icon-rss:before, .icon-pencil:before, .icon-pi:before, .icon-obs:before, .icon-news:before, .icon-right:before, .icon-left:before, .icon-gh:before, .icon-dev:before, .icon-design:before, .icon-begg:before, .icon-aha:before, .icon-imb:before, .icon-apple:before {
  font-family: 'mbsprite';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 90, ../sass/fonts.scss */
.icon-twitter:before {
  content: "\74";
}

/* line 93, ../sass/fonts.scss */
.icon-tutorial:before {
  content: "\6d";
}

/* line 96, ../sass/fonts.scss */
.icon-stack:before {
  content: "\73";
}

/* line 99, ../sass/fonts.scss */
.icon-share:before {
  content: "\6c";
}

/* line 102, ../sass/fonts.scss */
.icon-rss:before {
  content: "\72";
}

/* line 105, ../sass/fonts.scss */
.icon-pencil:before {
  content: "\77";
}

/* line 108, ../sass/fonts.scss */
.icon-pi:before {
  content: "\70";
}

/* line 111, ../sass/fonts.scss */
.icon-obs:before {
  content: "\6f";
}

/* line 114, ../sass/fonts.scss */
.icon-news:before {
  content: "\6e";
}

/* line 117, ../sass/fonts.scss */
.icon-right:before {
  content: "\31";
}

/* line 120, ../sass/fonts.scss */
.icon-left:before {
  content: "\32";
}

/* line 123, ../sass/fonts.scss */
.icon-gh:before {
  content: "\67";
}

/* line 126, ../sass/fonts.scss */
.icon-dev:before {
  content: "\63";
}

/* line 129, ../sass/fonts.scss */
.icon-design:before {
  content: "\64";
}

/* line 132, ../sass/fonts.scss */
.icon-begg:before {
  content: "\62";
}

/* line 135, ../sass/fonts.scss */
.icon-aha:before {
  content: "\61";
}

/* line 138, ../sass/fonts.scss */
.icon-imb:before {
  content: "\69";
}

/* line 141, ../sass/fonts.scss */
.icon-apple:before {
  content: "\33";
}

/* line 145, ../sass/fonts.scss */
.mbs {
  font-family: "mbsprite" !important;
  color: white;
  line-height: 1em;
}
/* line 147, ../sass/fonts.scss */
.mbs.inline {
  display: inline-block;
  color: black;
  font-size: 100% !important;
}
/* line 154, ../sass/fonts.scss */
.mbs.micro {
  font-size: 22px;
}
/* line 157, ../sass/fonts.scss */
.mbs.small {
  font-size: 36px;
}
/* line 160, ../sass/fonts.scss */
.mbs.medium {
  font-size: 45px;
}
/* line 163, ../sass/fonts.scss */
.mbs.large {
  font-size: 65px;
}

/* line 13, ../sass/screen.scss */
body, html {
  font-size: 100%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
  width: 100%;
  height: 100%;
}

/* line 19, ../sass/screen.scss */
::selection {
  background-color: #1fc6e4;
}

/* line 23, ../sass/screen.scss */
.clearfix {
  clear: both;
}

/* line 27, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 32, ../sass/screen.scss */
p {
  font-size: 100%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
}
/* line 34, ../sass/screen.scss */
p.header-desc {
  font-size: 85%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
  color: #6a6a6a;
}
/* line 38, ../sass/screen.scss */
p.post-meta {
  font-size: 100%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
  color: #6a6a6a;
  margin: 0 0 22px 0 !important;
}
/* line 42, ../sass/screen.scss */
p.post-meta a {
  color: #6a6a6a;
  font-weight: 700;
}
/* line 47, ../sass/screen.scss */
p code {
  font-family: Monospace;
  font-size: 100%;
  padding: 5px;
  background-color: #e5e5e5;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 55, ../sass/screen.scss */
p em {
  font-family: "bariol-regularitalic";
}
/* line 58, ../sass/screen.scss */
p strong {
  font-family: "bariol-bold";
}

/* line 63, ../sass/screen.scss */
blockquote {
  margin-left: 40px;
  border-left: 5px solid #cccccc;
  padding: 0 0 0 15px;
  font-size: 110%;
  line-height: 1.6em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 400;
  color: #000;
  width: 80%;
}
/* line 69, ../sass/screen.scss */
blockquote p {
  font-size: 110%;
  line-height: 1.6em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 400;
  color: #000;
}

/* line 74, ../sass/screen.scss */
a {
  font-size: 100%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
  color: #e52066;
  outline: none;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
/* line 80, ../sass/screen.scss */
a:hover {
  color: #f086b6;
}

/* line 85, ../sass/screen.scss */
h1 {
  padding: 2px 0;
}
/* line 87, ../sass/screen.scss */
h1.header-title {
  padding: 0;
}
/* line 88, ../sass/screen.scss */
h1.header-title a {
  font-size: 325%;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
}
/* line 93, ../sass/screen.scss */
h1 a {
  font-size: 200%;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
}

/* line 98, ../sass/screen.scss */
h2 {
  font-size: 175%;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
  margin: 20px 0;
}

/* line 103, ../sass/screen.scss */
h3 {
  font-size: 150%;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
  margin: 10px 0;
}

/* line 108, ../sass/screen.scss */
h4 {
  font-size: 125%;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
  margin: 10px 0;
}

/* line 113, ../sass/screen.scss */
ul {
  margin-left: 30px;
}
/* line 115, ../sass/screen.scss */
ul li {
  list-style-type: disc;
}

/* line 121, ../sass/screen.scss */
pre {
  margin: 20px 0;
}

/* line 125, ../sass/screen.scss */
code {
  font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
  font-size: 100%;
  overflow: auto;
}

/* line 132, ../sass/screen.scss */
header {
  width: 1020px;
  margin: 0 auto;
}

/* line 137, ../sass/screen.scss */
.header-main {
  padding: 20px 0;
}

/* line 141, ../sass/screen.scss */
.head-line {
  position: absolute;
  width: 100%;
  left: 0;
  border: 3px solid #e52066;
}

/* line 148, ../sass/screen.scss */
.header-social {
  float: right;
  padding: 14px 0;
}

/* line 155, ../sass/screen.scss */
nav ul {
  margin: 15px 0;
}
/* line 157, ../sass/screen.scss */
nav ul li {
  float: left;
  list-style-type: none;
  margin: 0 25px 0 0;
}
/* line 161, ../sass/screen.scss */
nav ul li a {
  color: black;
  font-size: 125%;
  line-height: 1.6em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
  font-weight: 700;
}

/* line 172, ../sass/screen.scss */
img.round, div.round {
  -webkit-border-radius: 60px 60px;
  -moz-border-radius: 60px / 60px;
  border-radius: 60px / 60px;
}
/* line 174, ../sass/screen.scss */
img.round.side, div.round.side {
  width: 65px;
  height: 65px;
  position: absolute;
  margin: 10px 0 10px -126px;
}
/* line 178, ../sass/screen.scss */
img.round.side.av, div.round.side.av {
  height: auto;
  width: auto;
}
/* line 182, ../sass/screen.scss */
img.round.side.cat, div.round.side.cat {
  margin: -10px 0 10px -110px;
}
/* line 186, ../sass/screen.scss */
img.round.floated, div.round.floated {
  width: 45px;
  height: 45px;
  float: left;
}
/* line 189, ../sass/screen.scss */
img.round.floated.cat, div.round.floated.cat {
  margin-right: 20px;
  margin-top: 4px;
}
/* line 194, ../sass/screen.scss */
img.round.head, div.round.head {
  width: 45px;
  height: 45px;
  float: right;
  margin: 0 15px;
}
/* line 199, ../sass/screen.scss */
img.round.page, div.round.page {
  width: 65px;
  height: 65px;
  margin: 0 15px;
  float: right;
}
/* line 204, ../sass/screen.scss */
img.round.archive, div.round.archive {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  float: left;
}
/* line 209, ../sass/screen.scss */
img.round.foot, div.round.foot {
  width: 38px;
  height: 38px;
  float: left;
  margin: 0 22px;
}

/* line 218, ../sass/screen.scss */
.container {
  width: 1020px;
  margin: 35px auto;
}

/* line 223, ../sass/screen.scss */
article {
  margin-bottom: 40px;
}
/* line 225, ../sass/screen.scss */
article p {
  margin: 1em 0;
}

/* line 230, ../sass/screen.scss */
.about-me {
  text-align: center;
}
/* line 231, ../sass/screen.scss */
.about-me img {
  -webkit-border-radius: 200px 200px;
  -moz-border-radius: 200px / 200px;
  border-radius: 200px / 200px;
}
/* line 235, ../sass/screen.scss */
.about-me h1 {
  font-size: 220%;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
  margin: 10px 0 30px;
}

/* line 242, ../sass/screen.scss */
.post-share {
  margin: 20px 0;
}

/* line 246, ../sass/screen.scss */
.twitter-share-button {
  width: 85px !important;
}

/* line 250, ../sass/screen.scss */
.post-share iframe:first {
  width: 85px !important;
}

/* line 254, ../sass/screen.scss */
.pagination {
  width: 190px;
  text-align: center;
  margin: 0 auto;
}

/* line 260, ../sass/screen.scss */
.archive-item {
  margin: 10px 0;
}

/* line 265, ../sass/screen.scss */
footer {
  height: auto;
  margin: 60px auto;
  width: 1020px;
}
/* line 269, ../sass/screen.scss */
footer p {
  font-size: 75%;
  color: #6a6a6a;
}
/* line 273, ../sass/screen.scss */
footer a {
  font-family: "bariol-bold";
}

/* line 278, ../sass/screen.scss */
.footer-center {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}

/* line 284, ../sass/screen.scss */
.footer-social {
  width: 410px;
  margin: 14px auto;
}

/* line 289, ../sass/screen.scss */
.footer-after {
  height: 20px;
  width: 1020px;
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 11, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 12, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 17, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 21, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 25, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 28, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 32, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 36, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 40, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 43, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 47, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 14px auto;
  }
  /* line 51, ../sass/media-queries.scss */
  .footer-social a div.round.foot {
    margin: 0 40px !important;
  }

  /* line 56, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 71, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 72, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 308%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 77, ../sass/media-queries.scss */
  h1 a {
    font-size: 225%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }

  /* line 81, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 85, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 88, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 92, ../sass/media-queries.scss */
  footer p {
    font-size: 75%;
    color: #6a6a6a;
  }
  /* line 96, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 100, ../sass/media-queries.scss */
  p {
    font-size: 120%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }

  /* line 103, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 107, ../sass/media-queries.scss */
  .footer-social {
    width: 100%;
    margin: 40px auto;
  }

  /* line 111, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
/* iPhones (portrait) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 124, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 125, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 130, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 135, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 140, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 145, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 149, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 152, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 156, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 159, ../sass/media-queries.scss */
  .head-line {
    width: 98%;
    left: 10px;
  }

  /* line 163, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 167, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 169, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 173, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 181, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 184, ../sass/media-queries.scss */
  p {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 186, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 80%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 189, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 40%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 194, ../sass/media-queries.scss */
  .archive-item, .repo-result span {
    font-size: 80%;
  }

  /* line 197, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 80%;
    overflow: auto;
  }

  /* line 202, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 205, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 209, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 213, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 217, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 221, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 226, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 232, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 234, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 6px;
  }
}
/* iPhones (landscape) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), only screen and (min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 249, ../sass/media-queries.scss */
  h1.header-title {
    padding: 0;
  }
  /* line 250, ../sass/media-queries.scss */
  h1.header-title a {
    font-size: 180%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
  }
  /* line 255, ../sass/media-queries.scss */
  h1 a {
    font-size: 120%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    word-wrap: break-word;
  }

  /* line 260, ../sass/media-queries.scss */
  h2 {
    font-size: 95%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 265, ../sass/media-queries.scss */
  h3 {
    font-size: 70%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 270, ../sass/media-queries.scss */
  h4 {
    font-size: 55%;
    line-height: 1em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
  }

  /* line 274, ../sass/media-queries.scss */
  body {
    padding: 0 10px;
  }

  /* line 277, ../sass/media-queries.scss */
  header {
    width: 100%;
    margin: 0 auto;
  }

  /* line 281, ../sass/media-queries.scss */
  .header-social {
    display: none;
  }

  /* line 284, ../sass/media-queries.scss */
  .head-line {
    width: 98%;
    left: 10px;
  }

  /* line 288, ../sass/media-queries.scss */
  .header-phone img {
    display: block !important;
  }

  /* line 292, ../sass/media-queries.scss */
  nav ul {
    margin: 15px 0;
  }
  /* line 294, ../sass/media-queries.scss */
  nav ul li {
    float: left;
    list-style-type: none;
    margin: 0 25px 0 0;
  }
  /* line 298, ../sass/media-queries.scss */
  nav ul li a {
    color: black;
    font-size: 100%;
    line-height: 1.6em;
    font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    font-weight: 700;
    color: #000;
    font-weight: 700;
  }

  /* line 306, ../sass/media-queries.scss */
  .container {
    width: 100%;
  }

  /* line 309, ../sass/media-queries.scss */
  p {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 311, ../sass/media-queries.scss */
  p.post-meta {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
  }
  /* line 314, ../sass/media-queries.scss */
  p.header-desc {
    font-size: 60%;
    line-height: 1.6em;
    font-family: "bariol-regular", Sans-Serif;
    color: #000;
    color: #6a6a6a;
  }

  /* line 319, ../sass/media-queries.scss */
  .archive-item {
    font-size: 60%;
    line-height: 1em;
  }

  /* line 323, ../sass/media-queries.scss */
  code {
    font-family: "bariol-regular", "Monaco", "Consolas", Monospace;
    font-size: 60%;
    overflow: auto;
  }

  /* line 328, ../sass/media-queries.scss */
  pre {
    width: 95%;
  }

  /* line 331, ../sass/media-queries.scss */
  footer {
    height: auto;
    margin: 60px auto;
    width: 100%;
  }
  /* line 335, ../sass/media-queries.scss */
  footer p {
    font-size: 50%;
    color: #6a6a6a;
  }
  /* line 339, ../sass/media-queries.scss */
  footer a {
    font-family: "bariol-bold";
  }

  /* line 343, ../sass/media-queries.scss */
  .footer-after {
    display: block;
    width: 100%;
  }

  /* line 347, ../sass/media-queries.scss */
  .footer-center {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  /* line 352, ../sass/media-queries.scss */
  .footer-social {
    width: auto;
    margin: 14px auto;
  }

  /* line 358, ../sass/media-queries.scss */
  img.round, div.round {
    -webkit-border-radius: 60px 60px;
    -moz-border-radius: 60px / 60px;
    border-radius: 60px / 60px;
  }
  /* line 360, ../sass/media-queries.scss */
  img.round.foot, div.round.foot {
    width: 38px;
    height: 38px;
    float: left;
    margin: 0 26px;
  }
}
