/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'bariol-regular';
  src: url("fonts/bariol_regular-webfont.eot");
  src: url("fonts/bariol_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bariol_regular-webfont.woff") format("woff"), url("fonts/bariol_regular-webfont.ttf") format("truetype"), url("fonts/bariol_regular-webfont.svg#bariol_regularregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-thin';
  src: url("fonts/bariol_thin-webfont.eot");
  src: url("fonts/bariol_thin-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bariol_thin-webfont.woff") format("woff"), url("fonts/bariol_thin-webfont.ttf") format("truetype"), url("fonts/bariol_thin-webfont.svg#bariol_thinregular") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-light';
  src: url("fonts/bariol_light-webfont.eot");
  src: url("fonts/bariol_light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bariol_light-webfont.woff") format("woff"), url("fonts/bariol_light-webfont.ttf") format("truetype"), url("fonts/bariol_light-webfont.svg#bariol_lightlight") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'bariol-bold';
  src: url("fonts/bariol_bold-webfont.eot");
  src: url("fonts/bariol_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bariol_bold-webfont.woff") format("woff"), url("fonts/bariol_bold-webfont.ttf") format("truetype"), url("fonts/bariol_bold-webfont.svg#bariol_boldbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* line 12, ../sass/screen.scss */
body, html {
  font-size: 100%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/screen.scss */
p {
  font-size: 100%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
}
/* line 20, ../sass/screen.scss */
p.header-desc {
  font-size: 85%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
  color: #6a6a6a;
}

/* line 26, ../sass/screen.scss */
a {
  font-size: 100%;
  line-height: 1.6em;
  font-family: "bariol-regular", Sans-Serif;
  color: #000;
  color: #e52066;
}

/* line 31, ../sass/screen.scss */
h1 {
  font-size: 325%;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
  font-weight: 700;
  color: #000;
}

/* line 36, ../sass/screen.scss */
header {
  width: 1020px;
  margin: 0 auto;
}

/* line 41, ../sass/screen.scss */
.header-main {
  padding: 20px 0;
}

/* line 45, ../sass/screen.scss */
.head-line {
  position: relative;
  width: 1000%;
  margin-left: -500%;
  border: 3px solid #e52066;
}
